In [195]:
import pandas as pd
import numpy as np

In [196]:
df=pd.read_csv(r"C:\Users\Lenovo\Downloads\chipotle.tsv",sep='\t')

In [197]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [198]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [200]:
df.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [201]:
df['choice_description']=df['choice_description'].replace(np.nan,"Not available")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,Not available,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,Not available,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [202]:
df[df.duplicated()]

,order_id,quantity,item_name,choice_description,item_price
238,103,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75
248,108,1,Canned Soda,[Mountain Dew],$1.09
297,129,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, G...",$11.75
381,165,1,Canned Soft Drink,[Coke],$1.25
484,205,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
567,233,1,Canned Soft Drink,[Diet Coke],$1.25
617,254,1,Chips,Not available,$2.15
684,282,1,Canned Soft Drink,[Coke],$1.25
773,319,1,Chicken Bowl,"[Tomatillo-Green Chili Salsa (Medium), Black B...",$8.49
908,376,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",$8.99
924,381,1,Chicken Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), Cheese]",$8.49
1003,412,1,Bottled Water,Not available,$1.50
1117,462,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
1203,491,1,Chicken Burrito,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",$8.75
1245,507,1,Canned Soft Drink,[Lemonade],$1.25
1381,561,1,Canned Soft Drink,[Coke],$1.25
1410,573,1,Bottled Water,Not available,$1.50
1420,576,1,Barbacoa Bowl,[Roasted Chili Corn Salsa],$9.25
1421,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39
1502,610,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
1534,624,1,Chips and Tomatillo-Red Chili Salsa,Not available,$2.39
1548,628,1,Chips and Guacamole,Not available,$4.45
1612,651,1,Izze,[Blackberry],$3.39
1791,724,1,Canned Soft Drink,[Coke],$1.25
1792,724,1,Canned Soft Drink,[Coke],$1.25
2078,838,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",$8.75
2127,856,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2362,940,1,Canned Soft Drink,[Coke],$1.25
2448,972,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
2553,1011,1,Canned Soft Drink,[Coke],$1.25
2554,1011,1,Canned Soft Drink,[Coke],$1.25
2560,1013,1,Chips and Guacamole,Not available,$4.45
2576,1020,1,Chips and Tomatillo Red Chili Salsa,Not available,$2.95
2662,1057,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
2708,1074,1,Chips,Not available,$2.15
2717,1078,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
2833,1125,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75
2881,1144,1,Bottled Water,Not available,$1.50
2973,1182,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Black...",$8.49
2977,1184,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.25
3121,1244,1,Chips and Guacamole,Not available,$4.45
3430,1377,1,Chips and Tomatillo Red Chili Salsa,Not available,$2.95
3637,1454,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, Rice]",$8.75
3716,1484,1,Canned Soda,[Dr. Pepper],$1.09
3764,1507,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
3829,1534,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$8.75
3924,1574,1,Bottled Water,Not available,$1.50
4112,1647,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4155,1660,1,Chips and Guacamole,Not available,$4.45
4236,1691,1,Chicken Bowl,[White Rice],$8.50
4266,1701,1,Chips,Not available,$2.15
4372,1745,1,Chips and Guacamole,Not available,$4.45
4463,1778,1,Canned Soft Drink,[Lemonade],$1.25
4479,1785,1,Bottled Water,Not available,$1.50
4544,1806,1,Bottled Water,Not available,$1.50
4570,1817,1,Bottled Water,Not available,$1.50
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25

In [203]:
df=df.drop_duplicates()
df.shape

(4563, 5)

In [204]:
df['item_price']=df['item_price'].apply(lambda x:x.replace("$",""))
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11260\3243802969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['item_price']=df['item_price'].apply(lambda x:x.replace("$",""))

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,Not available,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,Not available,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [205]:
df['item_price'] = df['item_price'].astype(float)
df.head(10)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11260\1949072937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['item_price'] = df['item_price'].astype(float)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,Not available,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,Not available,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,Not available,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [206]:
#Question 1
a=df.groupby('item_name').sum()
a.sort_values(['quantity'],ascending=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11260\3999661221.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  a=df.groupby('item_name').sum()

                                       order_id  quantity  item_price
item_name
Chicken Bowl                             704980       752     7259.75
Chicken Burrito                          490718       584     5509.57
Chips and Guacamole                      443669       501     2178.79
Steak Burrito                            327829       383     3818.94
Canned Soft Drink                        296817       340      425.00
Chips                                    204975       227      487.89
Steak Bowl                               192568       220     2250.94
Bottled Water                            166833       204      292.06
Chips and Fresh Tomato Salsa             100419       130      361.36
Canned Soda                               74804       124      135.16
Chicken Salad Bowl                       117104       123     1228.75
Chicken Soft Tacos                        94665       116     1070.85
Side of Chips                             84769       110      185.90
Veggie Burrito                            80962        97      934.77
Barbacoa Burrito                          72891        90      885.50
Veggie Bowl                               72270        87      867.99
Carnitas Bowl                             62742        71      736.71
Barbacoa Bowl                             53396        65      663.11
Carnitas Burrito                          51652        60      597.83
Steak Soft Tacos                          50177        56      536.05
6 Pack Soft Drink                         52322        55      356.95
Chicken Crispy Tacos                      47382        50      472.13
Chips and Tomatillo Red Chili Salsa       43159        48      141.60
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Carnitas Soft Tacos                       37673        40      375.94
Steak Crispy Tacos                        35818        36      357.34
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Steak Salad Bowl                          29590        31      343.59
Nantucket Nectar                          21814        29       98.31
Barbacoa Soft Tacos                       18725        25      250.46
Chips and Tomatillo-Red Chili Salsa       17720        24       57.36
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Izze                                       9936        19       64.41
Veggie Salad Bowl                         17303        18      182.50
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Barbacoa Crispy Tacos                      5613        12      120.21
Barbacoa Salad Bowl                        9132         9       97.01
Chicken Salad                             10465         9       81.09
Carnitas Crispy Tacos                      5868         8       77.96
Veggie Soft Tacos                          5520         8       73.96
Burrito                                    1550         6       44.40
Veggie Salad                               7265         6       50.94
Carnitas Salad Bowl                        6693         6       66.34
Bowl                                        472         4       29.60
Steak Salad                                2362         4       35.66
Salad                                      1150         2       14.80
Crispy Tacos                                434         2       14.80
Chips and Mild Fresh Tomato Salsa           279         1        3.00
Carnitas Salad                             1500         1        8.99
Veggie Crispy Tacos                         668         1        8.49

In [207]:
#Question 2
df['choice_description'].value_counts()

Not available                                                                                                                                    1228
[Diet Coke]                                                                                                                                       133
[Coke]                                                                                                                                            115
[Sprite]                                                                                                                                           77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                             41
                                                                                                                                                 ...
[Tomatillo Green Chili Salsa, [Sour Cream, Cheese, Guacamole, Rice, Fajita Vegetables]]                                                             1
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                          1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]       1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                               1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                    1
Name: choice_description, Length: 1044, dtype: int64

In [208]:
#Question 3
total_item=df.quantity.sum()
total_item

4913

In [209]:
#Question 4
df["total_price"]=df['quantity']*df['item_price']
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11260\2911329690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["total_price"]=df['quantity']*df['item_price']

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,Not available,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,Not available,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [210]:
revenue=df.total_price.sum()
revenue

38914.11

In [211]:
#Question 5
order=df.order_id.value_counts().count()
order

1834

In [212]:
#question 6
b=df.groupby('order_id').sum()
b

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11260\2696879499.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  b=df.groupby('order_id').sum()

          quantity  item_price  total_price
order_id
1                4       11.56        11.56
2                2       16.98        33.96
3                2       12.67        12.67
4                2       21.00        21.00
5                2       13.70        13.70
...            ...         ...          ...
1830             2       23.00        23.00
1831             3       12.90        12.90
1832             2       13.20        13.20
1833             2       23.50        23.50
1834             3       28.75        28.75

[1834 rows x 3 columns]

In [213]:
avg_revenue_per_order=b['total_price'].mean()
avg_revenue_per_order

21.218162486368595

In [214]:
#question 7
df.item_name.value_counts().count()

50